:root {
  --red: #e71d1d;
  --black: #222;
  --dark-grey: rgb(59, 59, 59);
  --white: #eee;
  --cyan: #00FFFF;
  --dark-cyan: rgb(0, 156, 156);
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
