.niceInput {
    border: .1em solid transparent;
    box-shadow: 0 1px 3px var(--black);
    border-radius: 2em;
    padding: .4em .9em;
    font-size: 2rem;
    outline: none;
    transition: .25s;
    margin: 1rem 0;
}

.niceInput:focus {
    border: .1em solid var(--cyan);
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.niceButton {
    /* Remove default CSS */
    border: none;
    outline: none;
    background-color: var(--dark-grey);
    color: var(--white);
    font-size: 1.4em;
    font-weight: bold;
    box-shadow: 0 2px 3px var(--black);
    border-radius: 1em;
    padding: .4em .9em;
    margin: 1rem 0;
    transition: .1s;
    min-height: 40px;
}

.niceButton:hover {
    background-color: var(--cyan);
    color: var(--dark-grey);
    cursor: pointer;
}

.niceButton:active {
    box-shadow: none;
    background-color: var(--dark-cyan);
}

p {
    font-size: 2rem;
    color: var(--white);
}

.content p {
    margin: 0;
}

.spinner:before {
    content: "";
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border-top: 2px solid var(--cyan);
    border-right: 2px solid transparent;
    animation: spinner 0.7s linear infinite;
}

.content {
    display: flex;
    align-items: center;
    flex-flow: column;
    position: fixed;
    top: 20%;
    left: 30%;
    right: 30%;
    bottom: 20%;
}

@media(max-width: 1000px) {
    .content {
        left: 5%;
        right: 5%;
    }
}

@media(max-width: 750px) {
    .niceInput,
    .niceButton,
    p {
        font-size: 1em;
    }

    .niceButton {
        min-height: 30px;
    }
}